body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background: #000428;
    color: #ffffff;
    overflow: hidden;
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 100px 200px, 300px 300px, 450px 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


button {
    background-color: #0f0c29; 
    background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 74%);
    border: 1px solid #3498db; 
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 15px #4fd1c5, 0 0 20px #4fd1c5 inset; 

}

button:hover {
    background-image: linear-gradient(315deg, #302b63 0%, #0f0c29 74%);
    transform: translateY(-2px);
}

#configuracion, #juego {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5%;
}

#configuracion h2 {
    font-size: 2.5em;
    color: #f39c12; 
    text-shadow: 3px 3px #333; 
}

#configuracion input[type="text"],

#configuracion input[type="number"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
}

#configuracion button {
    padding: 15px 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#configuracion button:hover {
    background-color: #c0392b;
}

#tituloRegistro {
    font-size: 48px; 
    margin-bottom: 30px; 
    color: #f39c12; 
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

#tituloBingo {
    font-size: 1.5em;
    color: #000000; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 20px; 
    margin-bottom: 10px; 
}

#juego {
    background: #000428;
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 100px 200px, 300px 300px, 450px 100px;
    color: #ffffff; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
    width: auto; 
    margin: 40px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#cartones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px; 
    padding: 20px; 
}

#sacarNumero {
    padding: 20px 40px;
    font-size: 1.5em; 
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #0f0c29; 
    background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 74%);
    border: 1px solid #3498db; 
    color: #ffffff;
    box-shadow: 0 0 15px #4fd1c5, 0 0 20px #4fd1c5 inset; 

}

#sacarNumero:hover {
    background-image: linear-gradient(315deg, #302b63 0%, #0f0c29 74%);
    transform: translateY(-2px);
}

#jugarDeNuevo {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#jugarDeNuevo:hover {
    background-color: #45a049; 
}

#historialNumeros {
    padding: 10px;
    color: #fff;
    text-align: center;
}

#numerosSacadosContainer span {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    background-color: #343a40; /* Ajusta al tema espacial */
    color: #ffffff;
    border-radius: 50%; /* Hace los números circulares */
    width: 35px;
    height: 35px;
    line-height: 25px; /* Centra el texto verticalmente */
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
}

.modal-content {
    position: relative; 
    margin: 10% auto; 
    padding: 20px;
    border-radius: 15px; 
    width: 50%; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    text-align: center; 
    background-color: #0f0c29;
    border: 1px solid #3498db;
    color: #ffffff;
    border: 2px solid #3498db;
    box-shadow: 0 0 15px #4fd1c5, 0 0 20px #4fd1c5 inset;
}

.modal h2 {
    color: #333; 
    margin: 0 0 20px 0; 
}

.modal p {
    font-size: 18px; 
    color: #555; 
}

.close-modal {
    position: absolute;
    top: 10px; 
    left: 10px; 
    font-size: 24px; 
    font-weight: bold;
    color: rgb(184, 20, 20); 
    cursor: pointer;
}

.close-modal:hover {
    color: #ccc; 
}


.carton {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 1fr); 
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box; 
    margin-bottom: 20px;
    width: calc(50% - 40px); 
    margin: 20px; 
    transition: transform 0.2s;
    background-color: #2c3e50; 
    border: 2px solid #3498db; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 10px #4fd1c5 inset;

}

.carton:hover {
    transform: scale(1.05); 
}

.nombreJugador, #tituloBingo {
    font-family: 'Righteous', cursive; 
    color: #4fd1c5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background-color: #2c3e50;
    padding: 5px;
}

.casilla {
    font-size: 1.5em;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative; 
    width: 80%;
    border: 2px solid #113349;
    background-color: #2c3e50;
    color: #ffffff;
}

.casilla:before {
    content: '';
    display: block;
    padding-top: 100%; 
}

.casilla > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.casilla.marcada {
    background-color: #4fd1c5; 
    color: #000000;
}

button {
    margin-top: 20px;
}

.modalRanking {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content-ranking {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #3498db;
    width: 50%; 
    border-radius: 10px;
    background: linear-gradient(145deg, #4b6cb7, #182848);
    color: white;
    text-align: center;
    border: 2px solid #3498db;
    box-shadow: 0 0 15px #4fd1c5, 0 0 20px #4fd1c5 inset;
}

.cerrarModalRanking {
    color: #cccccc;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrarModalRanking:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    #configuracion {
        max-width: 600px;
        margin: auto;
    }
}

@media (max-width: 768px) { 
    .carton {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}
